@tailwind base;
@tailwind components;
@tailwind utilities;

#finch-logo {
  display: block;
  width: 150px;
  height: 50px;
  background: url('../../assets/finch-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#finch-logo span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
